body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Be Vietnam', sans-serif;
}

#map {
    height: calc(100% - 0px);
    position: relative;
    z-index: 1;
}

.info-button {
    position: absolute;
    top: 170px;
    left: 22px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    color: rgb(54, 54, 54);
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-button:hover {
    background-color: #c9c9c9;
}

.info-button span {
    line-height: 1;
}

.stats-button {
    position: absolute;
    top: 210px;
    left: 22px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    color: rgb(54, 54, 54);
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.stats-button:hover {
    background-color: #c9c9c9;
}

.stats-button span {
    line-height: 1;
}


/*.blur-overlay {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px); 
    z-index: 999;
}*/

.info-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Above the blur overlay */
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50vw; /* Adjusted maximum width for responsiveness */
    min-width: 40vw;
    font-size: smaller;
}


.info-image {
    position: relative;
    background-image: url('assets/info_box.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    width: calc(100% + 40px); /* Adjusted width */
    margin-left: -20px; /* Adjusted margin */
    margin-right: -20px; /* Adjusted margin */
    border-radius: 8px 8px 0 0;
    object-fit: cover; /* Maintain aspect ratio */
}

.info-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px 8px 0 0;
}

.info-content {
    flex: 1;
    margin-top: -22px;
    font-family: 'Be Vietnam', sans-serif;
    text-align: center;
}

.info-content h3 {
    font-family: 'Be Vietnam', sans-serif;
}

.dismiss-button {
    background-color: #04a9b2;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    align-self: flex-end;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.dismiss-button:hover {
    background-color: #0097ae;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.leaflet-control-zoom {
    position: absolute;
    top: 80px;
    left: 10px;
    z-index: 99999;
}

/*Starts Pop-up elements*/
.leaflet-popup-content-wrapper {
    border-radius: 5px;
}

.leaflet-popup-content {
    max-width: 300px;
    border-radius: 5px;
}

.justified {
    text-align: justify;
}

.leaflet-popup-close-button {
    display: none;
}

.image-container {
    text-align: center;
    margin-bottom: 10px;
}

.popup-image {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    animation: fade-in 1.5s forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.nav-buttons {
    display: flex;
}

.next-button,
.prev-button {
    font-family: 'Material Icons Outlined', sans-serif;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.close-button {
    font-family: 'Material Icons Outlined', sans-serif;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
}

.download-button {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 12px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

.download-button:hover {
    background-color: #45a049;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*End Pop up elements*/

/*Company Logo*/
.company-logo {
    max-width: 100%;
    transition: transform 0.3s ease-in-out;
}

.company-logo:hover {
    transform: translateY(-5px);
}

/*Start Menu Bar*/
.menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999999;
    padding: 10px 10px 10px 20px;
    /* Adjusted padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    display: flex;
    align-items: center;
}

.middle-section {
    flex: 1;
    display: flex;
    justify-content: center;
}

.project-title {
    display: flex;
    align-items: left;
    justify-content: flex-start; /* Align to the left */
    padding: 0 30px; /* Add padding if necessary */
    font-size: large;
}


.right-section {
    display: flex;
    align-items: center;
    padding-right: 30px;
    /* Adjusted padding */
}

.company-logo {
    max-width: 100px;
    max-height: 40px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    width: 200px;
    padding: 8px;
    border: none;
    border-radius: 10px;
    outline-width: 1px;
    outline-color: #ccc;
}

.search-bar button {
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    margin-right: 10px;
    /* Add margin between search button and filter button */
}

.search-bar button:hover {
    background-color: #ddd;
}

.filterProjects-button,
.downloadProjectListAsExcel-button,
.downloadProjSheetsAsZip-button {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 14px;
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    margin-left: 10px;
}

.filterProjects-button {
    background-color: #04a9b2;
}

.downloadProjectListAsExcel-button {
    background-color: #13844b;
}

.downloadProjSheetsAsZip-button {
    background-color: #dab500;
}

.filterProjects-button:hover {
    background-color: #0097ae;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.downloadProjectListAsExcel-button:hover {
    background-color: #22b800be;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.downloadProjSheetsAsZip-button:hover {
    background-color: #f9cc00;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .search-bar {
        right: 20%;
    }

    .downloadProjSheetsAsZip-button {
        right: 2%;
    }

    .downloadProjectListAsExcel-button {
        right: 6%;
    }

    .filterProjects-button {
        right: 10%;
    }
}

@media only screen and (max-width: 576px) {
    .search-bar {
        right: 12%;
    }

    .downloadProjSheetsAsZip-button {
        right: 0;
    }

    .downloadProjectListAsExcel-button {
        right: 4%;
    }

    .filterProjects-button {
        right: 8%;
    }
}


/*End Menu Bar*/

/*Start Slide out Filter Menu*/
.slide-menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: width 0.5s;
    padding-top: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 99999;
}


.slide-menu.active {
    width: 25%;
}

.slide-menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.slide-menu-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}





.filter-category,
.filter-year,
.filter-country,
.filter-projectValue,
.filter-client,
.filter-status {
    width: 100%;
    margin-bottom: 10px;
}

.filter-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.filter-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


/* Reset Filters and Apply Filters*/
.button-container {
    display: flex;
    justify-content: space-between;
}

.reset-filters-button,
.apply-filters-button {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 14px;
    padding: 8px 16px;
    background-color: #04a9b2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(50% - 10px); /* 50% width minus 10px for the gap */
}

.reset-filters-button .material-symbols-outlined,
.apply-filters-button .material-symbols-outlined {
    margin-right: 8px;
}

.apply-filters-button:hover,
.reset-filters-button:hover {
    background-color: rgb(0, 131, 154);
}

.reset-filters-button .material-symbols-outlined::before,
.apply-filters-button .material-symbols-outlined::before {
    content: attr(data-icon);
}

.reset-filters-button .material-symbols-outlined::before {
    font-family: "Material Icons Outlined";
}

.apply-filters-button .material-symbols-outlined::before {
    font-family: "Material Icons";
}

/* Add a gap between buttons */
.reset-filters-button + .apply-filters-button {
    margin-left: 20px;
}






/*#year-slider {
    position: relative;
    margin-bottom: 10px;
}*/

.tick {
    position: absolute;
    bottom: -8px;
    width: 1px;
    height: 5px;
    background-color: rgb(165, 165, 165);
}

.year-label {
    font-size: 11px;
    position: absolute;
    bottom: -15px;
    transform: translateX(-50%);
}

#current-year,
#current-projectValue,
#current-projectScale {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
}

.clear-countrySelection-button,
.clear-categorySelection-button,
.clear-clientSelection-button,
.clear-statusSelection-button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    padding: 5px 8px;
    background-color: #e5e5e5;
    color: rgb(98, 98, 98);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.clear-countrySelection-button:hover,
.clear-categorySelection-button:hover,
.clear-clientSelection-button:hover,
.clear-statusSelection-button:hover  {
    background-color: #df194a;
    color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.country-label {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

/*
.country-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}*/

/*
.beta-testing {
    margin-left: 10px;
    font-size: 14px;
    color: #666;
}*/

/* Checkbox styling */
.checkbox-container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 14px;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.checkbox-container input:checked~.checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.expandable-options {
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
}

/* Basemap Switcher */
.basemap-control {
    position: absolute;
    bottom: 5px;
    left: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.basemap-control img {
    width: 85px;
    height: 85px;
    transition: transform 0.2s ease;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}

.basemap-label {
    transition: transform 0.2s ease, opacity 0.2s ease;
    opacity: 0;
    position: relative;
    text-align: center;
    padding: 0px;
    height: 30px;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    /* Adjusted color */
    border-radius: 0 0 15px 15px;
    color: rgb(58, 58, 58);
    font-weight: bold;
    width: 85px;
    transform: translateY(10px);
    /* Initially move label 10px above bottom */
    font-family: 'Be Vietnam', sans-serif;
}

.basemap-control:hover .basemap-label {
    transform: translateY(calc(-100% - -1px));
    /* Slide label up from the bottom of the image */
    opacity: 1;
}

/*Start Menu Bar Buttons Tooltip*/
.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-container .tooltip {
    visibility: hidden;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
    font-size: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Be Vietnam', sans-serif;
}

.tooltip-container .tooltip::after {
    content: "";
    position: absolute;
    top: -8px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/*End Menu Bar Buttons Tooltip*/

.basemap-control {
    position: relative;
    z-index: 99999; /* Set a higher z-index */
}
.basemap-image {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.basemap-label {
    font-size: 12px;
    text-align: center;
}